 *{
    padding: 0;
    margin: 0;
    
}
body{
    font-size: 20px;

    font-family: 'Montserrat', sans-serif;
}
.model{
    font-size: .85em;
    margin-top: 60px;

}
.product{
    font-weight: 700;
    font-size: 56px;
}
.description{
    font-size: 2em;

}
.links-wrapper{
    padding: 15px 0;
}
.links-wrapper ul li{
display: inline-block;
padding-right: 20px;
}
.links-wrapper ul li a:after{
font-family: "FontAwesome";
font-weight: 900;
content: "\f105";
padding-left: 10px;
}
.description-wrapper{
    
        font-size: 26px;
        padding: 10px 0;

}

.price-wrapper {
    color: #86868b;
    font-size: 0.85em;
}
.title-wraper {
    font-weight: 600;
    font-size: 56px;
}
.logo-wrapper {
    font-size: 40px;
    font-weight: bold;
}
header{
    background-color: black;
}
header a{
    color: white;
    text-decoration: none;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
    
}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul li img{
    width: 18px;
}

.first-section{
    text-align: center;
    background-color: #fafafa;


}
.secnd-section{
    text-align: center;
    color: white;
}
.third-sec{
    text-align: center;
    color: black;
}
.imgdiv{
    width: 500px;
}

.secnd-section{
    background-image: url(../images/home/iphone11-pro-bg.jpg);
    background-position: center;
    width: 2560px;
    height: 624px;
    max-width: 100%;
}
.third-sec{background-image: url(../images/home/iphone11-bg.jpg);
    background-position: center;
    background-size: cover;
    width: 1800pxpx;
    height: 634px;
    max-width: 100%;

}

.sec4{
    display: flex;
}
.sec5{
    display: flex;
    color: white;
}
.sec6{
    display: flex;
    
}
.right-wrapper{
    background-image: url(../images/home/new-ipad.jpg);
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding-top: 54px;
}
.left-wrapper{
    background-image: url(../images/home/macbook-pro.jpg);
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding-top: 54px;
    background-size: initial;
    background-color: #fafafa;
    background-position: bottom;
}
.watch{background-image: url("../images/home/watch-series-5.jpg");
 
}
.apple-card{
    background-image: url(../images/home/apple-card.jpg);
  
    
}
.servant{
    background-image: url(../images/home/apple-tv-background.jpg);
}
.air-pods{
    background-image: url(../images/home/air-pods.jpg);
    background-position: bottom;
    background-size: initial;
    background-color: black
    

}
.foot{
    width: 980px;
    margin: 0 auto;


}

footer{
    background-color: #f5f5f7;


}


.footer-links{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: .65em;
    -webkit-box-pack: justify;
    padding-top: 20px;
    
}

footer a{
    color: black;
    text-decoration: none;
}
.upper-text-container {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 20px;
    font-size: .65em;
    background-color: #f5f5f7;

}
ul {
    list-style-type: none;

}
.copyright-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0 20px;
}
